.campsite-show {
  /* margin-top: 70px; */
}

.campsite-show-container {
  display: grid;
  /* flex-direction: column; */
  grid-template-columns: 1fr 8fr 400px 1fr;
  grid-template-rows: 480px auto;
  justify-items: center;
  width: 90%;
  height: auto;
  padding: 15px 15px 0;
  margin: auto;
}

.campsite-show-container > * {
  box-sizing: border-box;
}

.photo-comp-placeholder {
  height: 480px;
  width: 110%;
  background-color: rgb(173, 173, 173);
  grid-row: 1 / span 1;
  grid-column: 1 / span 4;
  overflow: hidden;
}

.show-page-map {
  height: 500px;
  /* width: 110%; */
  background-color: rgb(157, 233, 157);
  grid-row: 3 / span 1;
  grid-column: 1 / span 4;
  z-index: 7;
}

.show-page-map-container {
  height: 500px;
  width: 110%;
  grid-row: 1 / span 1;
  grid-column: 1 / span 4;
  background-color: rgb(157, 233, 157);
  position: relative;
}

.map-campsite-details {
  position: absolute;
  /* top: 50px;
  left: 50px; */
  margin-top: 50px;
  margin-left: 13%;
  height: 125px;
  width: 350px;
  background-color: #f9f9f9;
  z-index: 9;
  border: 1px solid lightgrey;
  /* padding: 10px; */
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.map-campsite-subdetails {
  display: flex;
  justify-content: space-between;
  padding: 10px;
}

.res-widget {
  height: 260px;
  width: 320px;
  background-color: white;
  position: sticky;
  grid-column: 3 / span 1;
  grid-row: 1 / last-line;
  top: 70px;
  z-index: 8;
  margin-top: 445px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  padding: 10px;
}

.res-widget.long {
  height: 300px;
  width: 320px;
  background-color: white;
  position: sticky;
  grid-column: 3 / span 1;
  grid-row: 1 / last-line;
  top: 70px;
  z-index: 8;
  margin-top: 445px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  padding: 10px;
}

.res-widget h1 {
  font-size: 26px;
  margin-top: 10px;
  margin-bottom: 5px;
  margin-left: 20px;
}

.res-widget h3 {
  font-size: 16px;
  font-weight: 400;
  margin-left: 20px;
}

.campsite-details-container {
  grid-row: 2 / span 1;
  grid-column: 2 / span 1;
  /* border: 1px solid lightgrey; */
  /* height: 600px; */
  width: 100%;
  padding: 15px;
}

.content-filler {
  width: 100%;
  height: 2000px;
  border: 1px solid lightgrey;
  grid-row: 2 / span 1;
  grid-column: 2 / span 1;
}

.campsite-detail-header {

}

.campsite-detail-header h1 {
  font-size: 38px;
  margin: 10px;
}

.campsite-detail-header h3 {
  font-size: 18px;
  margin: 10px;
}

.host-placeholder {
  height: 90px;
  width: 205px;
  padding-right: 15px;
}

.campsite-detail-body {
  display: grid;
  grid-template-columns: 220px 1fr;
}

.campsite-detail-body p {
  margin-bottom: 10px;
  line-height: 150%;
}

.map-campsite-details-price {
  background-color: white;
  padding: 17px;
  padding-left: 10px;
}

.go-back {
  height: 80px;
  width: 30px;
  background-color: black;
  position: absolute;
  top: 285px;
  left: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  font-size: 40px;
  cursor: pointer;
  color: black;
  text-shadow: 0px 0px 10px white;
}

.go-forward {
  height: 80px;
  width: 30px;
  background-color: black;
  position: absolute;
  top: 285px;
  right: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  font-size: 40px;
  cursor: pointer;
  color: black;
  text-shadow: 0px 0px 10px white;
}

.carousel-container {
  height: 480px;
  /* width: 110%; */
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.carousel-img {
  max-height: 480px;
  /* width: 110%; */
  height: auto;
  /* max-width: 200px; */
  margin-left: 5px;
  margin-right: 5px;
}