.campsite-list {
  /* margin-top: 70px; */
  max-width: 1060px;
  width: 100%;
  /* height: calc(100vh - 70px - 51px); */
  margin: auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-content: space-around;
  justify-items: center;
}

.campsite-entry {
  margin: 25px;
  border-radius: 4px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  width: 300px;
  min-width: 300px;
  /* height: auto; */
  height: 310px;
  overflow: hidden;
  /* background-color: white; */
}

.campsite-entry:hover {
  background-color: #f9f9f9;
}

.campsite-entry > img {
  width: 100%;
  height: auto;
}

/* WAS .campsite-list until playing around */
.campsite-details h1 {
  font-size: 20px;
  font-weight: 600;
  margin: 5px;
  margin-top: 15px;
}

/* WAS .campsite-list until playing around */
.campsite-details h2 {
  font-size: 18px;
  font-weight: 500;
  margin: 5px;
  /* text-align: end; */
  align-self: flex-end;
}

/* WAS .campsite-list until playing around */
.campsite-details h3 {
  font-size: 14px;
  color: #757575;
  margin: 5px;
  white-space: nowrap;
}

.campsite-details {
  display: flex;
  flex-direction: column;
  padding: 0px 10px;
  height: auto;
  justify-content: space-between;
  /* height: 100%; */
}

.campsite-details > div {
  margin-bottom: 20px;
}

.campsite-show {
  /* margin-top: 70px; */
}

.campsite-show-container {
  display: grid;
  /* flex-direction: column; */
  grid-template-columns: 2fr 1fr;
  grid-template-rows: auto;
  justify-items: center;
  width: 90%;
  height: auto;
  padding: 15px 15px 0;
  margin: auto;
}

.photo-comp-placeholder {
  height: 480px;
  width: 100%;
  background-color: rgb(173, 173, 173);
  grid-row: 1 / span 1;
  grid-column: 1/ span 2;
  overflow: hidden;
}

.show-page-map {
  height: 500px;
  width: 100%;
  background-color: rgb(157, 233, 157);
  grid-row: 3 / span 1;
  grid-column: 1 / span 2;
}

.res-widget {
  height: 310px;
  width: 320px;
  background-color: white;
  position: sticky;
  grid-column: 2 / span 1;
  grid-row: 1 / last-line;
  top: 70px;
  z-index: 11;
  margin-top: 445px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  padding: 10px;
}

.res-widget h1 {
  font-size: 26px;
}

.res-widget h3 {
  font-size: 16px;
  font-weight: 400;
}

/* .res-widget-container {
  height: 360px;
  width: 360px;
  background-color: rgb(168, 0, 0);
  position: absolute;
  top: 70px;
  right: 200px;
  opacity: 0.3;
  grid-column: 1 / last-line;
  z-index: 10;
} */

.campsite-details-container {
  grid-row: 2 / span 1;
  background-color: lightgrey;
  height: 400px;
  width: 100%;
}

.content-filler {
  width: 100%;
  height: 2000px;
  background-color: greenyellow;
  grid-row: 4 / span 1;
  grid-column: 1 / span 2;
}