.modal-background {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: rgba(255, 255, 255, 0.7);
  z-index: 10;
}

.modal-child {
  position: absolute;
  top: 30px;
  left: 50%;
  transform: translate(-50%, 0);
  width: 300px;
  /* height: 400px; */
  background-color: white;
  border: 1px solid lightgray;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.2);
  animation-name: slidein;
  animation-duration: 0.5s;
}

#login-form,
#signup-form {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 15px;
  margin-bottom: 10px;
}

#login-form > button,
#signup-form > button {
  width: 85%;
  height: 60px;
  background-color: #73dfb7;
  color: white;
  font-size: 16px;
  margin-top: 10px;
  margin-bottom: 10px;
}

#login-form > button:hover,
#signup-form > button:hover {
  background-color: #40d9ac;
}

#login-form > input,
#signup-form > input {
  width: 85%;
  height: 60px;
  margin-top: 5px;
  margin-bottom: 5px;
  color: black;
  font-size: 16px;
  padding: 5px;
  border: 1px solid black;
  box-sizing: border-box;
}

#login-form > div,
#signup-form > div {
  display: flex;
  justify-content: space-between;
  width: 85%;
}

#login-form > div > input,
#signup-form > div > input {
  width: 50%;
  height: 60px;
  margin-top: 5px;
  margin-bottom: 5px;
  color: black;
  font-size: 16px;
  padding: 5px;
  border: 1px solid black;
  box-sizing: border-box;
}

#login-form > div > input:first-child,
#signup-form > div > input:first-child {
  margin-right: 10px;
}

.modal-header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.modal-header > h1 {
  font-size: 20px;
  font-weight: 600;
  margin-top: 20px;
  margin-bottom: 10px;
}

.modal-header > h2 {
  font-size: 14px;
  color: #757575;
  margin: 5px;
}

@keyframes slidein {
  from {top: -100px; opacity: 0.5}
  to {top: 30px; opacity: 1}
}

.modal-errors {
  position: fixed;
  left: 20px;
  bottom: 20px;
  z-index: 11;
  background-color: #FEF2D6;
  color: #B38B01;
  /* transition: opacity 0.5s; */
}

.modal-errors > ul {
  padding: 5px;
}

.hiddenErrors {
  display: none;
}