/* .go-back {
  height: 50px;
  width: 50px;
  background-color: lightgreen;
  position: absolute;
  top: 145px;
  left: 5px;
}

.go-forward {
  height: 50px;
  width: 50px;
  background-color: lightblue;
  position: absolute;
  top: 145px;
  left: 245px;
}

.carousel-container {
  height: 200px;
  width: 200px;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
}

.carousel-img {
  max-height: 200px;
  width: auto;
  height: auto;
  max-width: 200px;
} */

/* TEST FOR SHOW PAGE */

.go-back {
  height: 50px;
  width: 50px;
  background-color: lightgreen;
  position: absolute;
  top: 145px;
  left: 5px;
}

.go-forward {
  height: 50px;
  width: 50px;
  background-color: lightblue;
  position: absolute;
  top: 145px;
  left: 245px;
}

.carousel-container {
  height: 480px;
  width: 110%;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
}

.carousel-img {
  max-height: 480px;
  /* width: 110%; */
  height: auto;
  /* max-width: 200px; */
}