.search-bar-container {
  height: 100px;
  display: flex;
  /* flex-direction: column; */
  justify-content: center;
  align-items: center;
  position: relative;
  /* width: 800px; */
  margin: auto;
  box-shadow: 1px 2px 5px 2px rgba(0,0,0,0.1);
  /* margin-top: 200px; */
  margin-bottom: 85px;
  max-width: 1000px;
  width: 100%;
}

.search-bar-input,
.search-bar-input:focus {
  border: 1px solid #ebebeb;
  box-shadow: none;
  width: 600px;
  height: 40px;
  font-size: 18px;
  padding: 10px;
  padding-left: 30px;
  box-shadow: 1px 2px 5px 1px rgba(0,0,0,0.05);
}

.search-results-dropdown {
  position: absolute;
  top: 80px;
  width: 640px;
  border: 1px solid rgb(235, 235, 235);
  background-color: white;
}

.search-results-dropdown > li {
  height: 40px;
  padding: 5px;
  padding-left: 30px;
  /* vertical-align: middle; */
  display: flex;
  align-items: center;
  border-bottom: 1px solid rgb(235, 235, 235);
  transition: background-color 0.1s ease 0s;
}

.search-results-dropdown > li:hover {
  /* background-color: rgb(250, 250, 250); */
  background-color: #f9f9f9;
}

/* .search-results-dropdown > li:first-child {
  display: none;
} */

.search-results-dropdown > li:last-child {
  border-bottom: none;
}

.search-btn {
  display: inline-block;
  border: 3px solid #40d9ac;
  padding: 12px 12px;
  margin: 10px;
  font-size: 16px;
  color: white;
  background-color: #40d9ac;
  transition: background-color 0.4s ease 0s, color 0.4s ease 0s;
  height: 65px;
  width: 110px;
  border-radius: 2px;
}

.search-btn:hover {
  background-color: white;
  color: #40d9ac;
}

.main-header {
  height: 150px;
  margin: auto;
  margin-top: 150px;
  /* background-color: lightgrey; */
  /* margin-bottom: 40px; */
  max-width: 1000px;
  width: 100%;
}

.main-header > h1 {
  font-size: 40px;
  font-weight: 600;
  margin-bottom: 25px;
}

.main-header > h2 {
  font-size: 18px;
  font-weight: 400;
  width: 500px;
  line-height: 125%;
}